*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid black;
}