*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.header-title {
  padding: 1em;
  background: rgb(211, 211, 211);
  color: #a0a0a0;
}

.form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

button[type="button"] {
  padding: 1em;
  flex-grow: 1;
  font-size: inherit;
  font-family: inherit;
  padding: 0.25em;
  outline: none;
  border-radius: none;
  border: 1px solid black;
  cursor: pointer;
}

button[type="button"]:hover {
  background: black;
  color: whitesmoke;
  border: 1px solid black;
}

.selected,
.selected:hover {
  background: rgb(78, 78, 78);
  color: whitesmoke;
  cursor: default;
}

section {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.75em 0;
}
